.main{
	background-color: green;
	height: 30px;
}
.nav{
	background-color: red;
	height: 30px;
}
.grid{
	background-color: blue;
	height: 30px;
}
.form{
	color: red;
	font-size: 50px;
	height: 30px;
}